<h1>Listing Proyects</h1>

<table class="table">
	<thead>
		<th>Name:</th>
		<th>Description:</th>
	</thead>
	<tbody>
	<% @proyects.each do |proyect| %>
		<tr>
		<td><%= proyect.name %></td>
		<td><%= proyect.description %></td>
		<td><%= link_to "Show", proyect_path(proyect) %></td>
		<td><%= link_to "Edit", edit_proyect_path(proyect) %></td>
		<td><%= link_to "Delete", proyect_path(proyect), method: :delete %></td>
		</tr>
	<% end %>	
	</tbody>
</table>

<%= link_to "New Product", new_proyect_path %>
